page-contactus {
    .white-text {
		color:white;
    }
    .icon{
		color:white;
    }   
    .cardtop{
        height: 100px;
        width: 77%;
        margin-left: 11%;
        margin-top: 11%;
        border-radius: 10px;
    }
}
