page-login {
	background-image: url("assets/imgs/back.png");

		background-size: cover;
		
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
    .white-text {
		color:white;
    }
    .icon{
		color:white;
    }   
    .cardtop{
        margin-left: 5%;
    //margin-top: 22%;
    width: 90%;
    height: 12%;
    border-radius: 5px;
    



    }ion-footer{
		position: relative;
		//bottom: 0;
        bottom:-20px;
    }
    .topimage{
        margin-top: -5%;
        margin-left: 20%;
				zoom: 0.75;
				position:absolute;
				bottom: 60%
    }
    .divv{
        margin-top: -5%;
        height: 65%;
	}
	
    
    .bdy {
		background-image: url("/assets/imgs/back.png");

		background-size: cover;
		
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
    }
.itemMobile{
	width: 85% !important;
    margin-left: 5% !important;
    
}
.buttonblock{text-align: center}
   
	.decor{
		z-index: 5;
		position: absolute;
		height: 400px;
		width: 400px;
		border-radius: 50%;
		top: -170px;
		right: -190px;
	}
	.decor-2{
		z-index: 1;
		position: absolute;
		height: 150px;
		width: 150px;
		border-radius: 50%;
		top: 90px;
		right: 50px;
	}
	.divblk{
		position: absolute;
        bottom: 0px;
	}
	.divblk1{
		position: absolute;
		bottom: 20%;
	}

	
}
