page-history {
   .walletback{
    background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
   }
   .box2{
       background-color: transparent;
    height: 80px;
    border: 2px solid white;
    border-radius: 5px;
   }
   .success{
      color:green
   }
   .failure{
         color:red;
   }
}
