page-deals-details {
ion-footer{
    bottom:-4px;
}
.icon1{
    color: #0582d9 !important;  /* fallback for old browsers */

}
.toolbar[primary] .toolbar-title .toolbar[primary] .bar-button-default .toolbar-text{
    color: white;
    
  }
  .toolbar-title {
      color:white;
  }
  ion-header ion-icon.back-button-icon.icon {
    color: white;
}
.icon{
    color:white;
} 
}
